main{
  .container{
    display: flex;
    flex-wrap: wrap;
    .card{
      height: 250px;
      width: 170px;
      background-color: black;
        img{
          width: 150px;
          height: 150px;
          margin: 10px;
        }
        .titolo{
          color: white;
          text-align: center;
        }
        h5{
          color: grey;
          text-align: center;
        }
      }
    }
  }
